<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="car"
		class="com.maq.beans.Car">
		<constructor-arg name="engine" ref="petrolEngine"></constructor-arg>
	</bean>
	
	<bean id="dieselEngine"
		class="com.maq.beans.DieselEngine">
	</bean>
	
	<bean id="petrolEngine"
		class="com.maq.beans.PetrolEngine">
	</bean>
</beans>