<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="credit" class="in.ashokit.CreditCardPayment" />

	<bean id="debit" class="in.ashokit.DebitCardPayment" />

	<bean id="amex" class="in.ashokit.AmexCardPayment" />

	<bean id="paymenntCtxt" class="in.ashokit.PaymentContext">
		<constructor-arg name="payment" ref="amex" />
	</bean>

</beans>